<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

<div class="container ">

  <div class="row g-3">
    <div class="col-lg-4">
      <div class="bg-primary text-white rounded-5 p-4 h-100">
        <h3 class="fw-bold fs-2">Portal independientes</h3>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget
          tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in, elementum id enim. </p>
        <!-- <i class="bi bi-cash-stack fs-1"></i> -->
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-2">
      <div class="bg-white rounded-5 p-3">
        <div class="d-flex">
          <i class="bi bi-people fs-1"></i>
          <a class="ms-auto use-ajax " data-dialog-type="modal" href="/node/add/cliente" data-dialog-options='{"width":"80%"}'>
            <i class=" bi bi-plus fs-1"></i>
          </a>
        </div>
        <h3 class="fw-bold fs-2">{{clientes|length }}</h3>
        <a href="/clientes">
          <h6 class="small">Clientes</h6>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <div class="bg-white rounded-5 p-3">
        <div class="d-flex">
          <i class="bi bi-wrench-adjustable-circle fs-1"></i>
          <i class="ms-auto bi bi-plus fs-1"></i>
        </div>
        <h3 class="fw-bold fs-2">12</h3>
        <a href="/servicios">
          <h6 class="small">Servicios</h6>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <div class="bg-white rounded-5 p-3">
        <i class="bi bi-cash-stack fs-1"></i>
        <h3 class="fw-bold fs-2">12</h3>
        <h6 class="small">Servicios pendientes</h6>
      </div>
    </div>

  </div>
</div>

<section class="my-3 px-3">
  <div class="col-md-10 p-3 bg-white rounded-5">
    <div class="list-group list-group-flush w-auto">
      {% for cliente in clientes %}


        <a href="/node/{{ cliente.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-person fs-3"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{ cliente.title.value }}</h6>
              <p class="mb-0 opacity-75">{{ cliente.field_correo.value |striptags }}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{ cliente.changed.value |date("m/d/Y")}}</small>
          </div>
        </a>

      {% endfor %}



    </div>

    {{ paginador }}
  </div>
</section>

<section class="my-3 px-3">
  <div class="col-md-10 p-3 bg-white rounded-5">




  </div>
</section>
